<h1>Cart</h1>

<% if @products.count != 0 %>
  <table>
    <tr>
      <td></td>
      <th>Product Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <td></td><td></td>
      <th>Subtotal</th>
      <% if @gst != 0 %>
        <th>GST</th>
      <% end %>
      <% if @hst != 0 %>
        <th>HST</th>
      <% end %>
      <% if @pst != 0 %>
        <th>PST</th>
      <% end %>

    </tr>
    <% @products.each do |product| %>
      <% subtotal = product.price * @cart["#{product.id}"] %>
      <tr>
        <td><%= link_to '❌', cart_path(product), method: :delete %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.price %></td>
        <td><%= @cart["#{product.id}"] %></td> <!-- Quantity -->
        <td>
          <%= form_with  url: cart_index_path, method: :post do %>
            <%= hidden_field_tag(:id, product.id) %>
            <%= hidden_field_tag(:quantity, @cart["#{product.id}"] + 1) %>
            <% if cart.include?(product) %>
              <%= button_tag '➕' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= form_with  url: cart_index_path, method: :post do %>
            <%= hidden_field_tag(:id, product.id) %>
            <%= hidden_field_tag(:quantity, @cart["#{product.id}"] - 1) %>
            <% if @cart["#{product.id}"] > 1 %>
              <%= button_tag '➖' %>
            <% end %>
          <% end %>
        </td>
        <td><%= (subtotal).round(2) %></td>
        <% if @products.count == 1%>
          <% if @gst != 0 %>
            <td><%= (@subtotal_all_products * @gst).round(2) %></td>
          <% end %>
          <% if @hst != 0 %>
            <td><%= (@subtotal_all_products * @hst).round(2) %></td>
          <% end %>
          <% if @pst != 0 %>
            <td><%= (@subtotal_all_products * @pst).round(2) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <% if @products.count > 1%>
        <td></td><td></td><td></td>
        <td></td><td></td><td></td><td> <%= @subtotal_all_products.round(2) %></td>
        <% if @gst != 0 %>
          <td><%= (@subtotal_all_products * @gst).round(2) %></td>
        <% end %>
        <% if @hst != 0 %>
          <td><%= (@subtotal_all_products * @hst).round(2) %></td>
        <% end %>
        <% if @pst != 0 %>
          <td><%= (@subtotal_all_products * @pst).round(2) %></td>
        <% end %>
      <% end %>
    </tr>
  </table>
  <hr>
  <h3>Total: <%= number_to_currency(@total) %></h3>

  <div id="update province">
    <%= form_with(url: cart_updated_province_path, method: :get, local: true) do %>
    <label>Province: </label>
    <%= collection_select(:id, :province_id, Province.all, :id, :name, selected: @cart_province)  %>
    <%= submit_tag("Update", class: "button is-primary") %>
    <% end %>
  </div>

  <% if current_user != nil %>

    <%= form_with url: checkout_create_path, remote: true do %>
      <div id="address_label">
        <label for="address">Ship To: </label>
        <%= text_field_tag(:address, nil, class: "input", value: current_user.address) %></div>
      <div id="Postal_code_label">
        <label for="postal_code">Postal Code:</label>
        <%= text_field_tag(:postal_code, nil, class: "input", value: current_user.postal_code) %>
      </div>
      <%= hidden_field_tag(:total, @total) %>
      <%= hidden_field_tag(:products, @products.pluck(:id)) %>
      <%= hidden_field_tag(:gst, @gst_amount) %>
      <%= hidden_field_tag(:hst, @hst_amount) %>
      <%= hidden_field_tag(:pst, @pst_amount) %>
      <%= button_tag 'Checkout' %>
    <% end %>
  <% else %>
    <h2>Please sign in or sign up to check out your items.</h2>
  <% end %>

<% else %>
  <h3>There are no products in your cart. Get Shopping!</h3>
<% end %>
