<h1><%= @product.name %></h1>
<%= @image != nil ? image_tag(@image, :size => "260x180") : @product.name %>
<h2>Published by: <%=link_to @product.publisher.name, @product.publisher %></h2>
<h3><%= 'Platform'.pluralize(@product.platforms.count) %>:</h3>
<ul>
  <% @product.platforms.each do | platform | %>
    <li> <%= link_to platform.name, platform %></li>
  <% end %>
</ul>
<h3><%= 'Genre'.pluralize(@product.genres.count) %>:</h3>
<ul>
  <% @product.genres.each do | genre | %>
    <li> <%= link_to genre.name, genre %></li>
  <% end %>
</ul>
