<h1><%= @product.name %></h1>
<%= @image != nil ? image_tag(@image, :size => "260x180") : @product.name %>
<% if @product.esrb_rating != nil %>
  <h2>Rated: <%= @product.esrb_rating %> </h2>
<% else %>
  <h2>This game has no available rating.</h2>
<% end %>
<h2>$<%= @product.price %></h2>
<h2>Published by: <%=link_to @product.publisher.name, @product.publisher %></h2>

<% if @product.general_rating != nil %>
  <h2>This game has a score of: <%= @product.general_rating %> / 5</h2>
<% end %>

<%= form_with  url: cart_index_path, method: :post do %>
  <%= hidden_field_tag(:id, @product.id) %>
  <% if cart.include?(@product) %>
    <%= button_tag 'Update Cart' %>
    <%= number_field_tag(:quantity, nil, {min: 1, value: session[:shopping_cart]["#{@product.id}"].to_i}) %>
  <% else %>
    <%= button_tag 'Add to Cart' %>
    <%= number_field_tag(:quantity, nil, {min: 1, placeholder: 1, value: 1}) %>
  <% end %>
<% end %>

<div>
  <% if cart.include?(@product) %>
    <%= button_to cart_path(@product), method: :delete do %>
      Remove From Cart
    <% end %>
  <% end %>
</div>

<h3><%= 'Platform'.pluralize(@product.platforms.count) %>:</h3>
<ul>
  <% @product.platforms.each do | platform | %>
    <li> <%= link_to platform.name, platform %></li>
  <% end %>
</ul>
<h3><%= 'Genre'.pluralize(@product.genres.count) %>:</h3>
<ul>
  <% @product.genres.each do | genre | %>
    <li> <%= link_to genre.name, genre %></li>
  <% end %>
</ul>
