<!DOCTYPE html>
<html>
  <head>
    <title>PingdomGames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>
      <div class="title">
        <%= image_tag("logos/transparent_logo.png", width: '100px') %>
        Pingdom Games
      </div>
    </h1>

    <nav>
      <%= link_to 'Games', products_path %>
      <%= link_to 'Platforms', platforms_path %>
      <%= link_to 'Genres', genres_path %>
      <%= link_to 'Publishers', publishers_path %>
    </nav>

    <hr>
    <%= yield %>
  </body>
</html>
